@import url(https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
.overlay,
.popup {
    position: fixed;
    width: 100%;
}
.menu-area > ul > li > a,
.p-banner-content > .p-banner-btn > a:hover,
.slider-inner-btn > a:hover,
.tp-category-title-3 > a:hover,
a:hover {
    text-decoration: none;
}
.navbar,
.topbar-box {
    float: right;
}
.empty-cart-box,
.filter-box > a,
.heading-title > h3,
.p-banner-content {
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --shadow: 0px 10px 13px -10px #ddd;
    --shadow-hover: 0px 10px 20px 0px #ddd;
    --border: 1px solid #f3f3f3;
    --animate: translate(0, -2%);
    --gradient-bg: linear-gradient(
        to right,
        rgba(255, 134, 23, 0.9),
        rgba(255, 135, 23, 0.9),
        rgba(255, 194, 37, 0.9)
    );
    --gradient-single: rgba(255, 134, 23, 0.9);
    --bg-color: #cf3341;
    --text-danger: #cf3341;
    --text-white: #fff;
    --text-black: #232323;
    --primary-color: #f26d21;
    --radius: 13px;
    --lato: "Lato", sans-serif;
    --Charm: "Charm", cursive;
    --jost: "Jost", sans-serif;
}
.btn-primary {
    background-color: #303030;
    border: none !important;
    outline: none !important;
}
.btn-primary:hover {
    background-color: #f26d21;
}
.btn-primary:focus {
    background-color: #f26d21;
    outline: none;
}
.btn-primary:active {
    background-color: #f26d21;
    outline: none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #f26d21;
    border-color: #f26d21;
    outline: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1520px;
    }
}
.popup {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 500px;
}
.overlay,
.tp-category-item-3:hover .tp-category-thumb-3::before {
    background: rgba(0, 0, 0, 0.5);
}
.popup-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.menu-body ul li,
.menu-link a,
.mm-logo,
.offcanvas-header {
    border-bottom: 1px solid #ddd;
}
.popup-body {
    padding: 15px;
}
.popup-close {
    cursor: pointer;
    font-size: 25px;
    color: #f26d21;
}

.overlay {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
}
.topbar-section {
    padding: 5px 0;
    background-color: #ff5d00;
}
.topbar-contact {
    font-family: var(--jost);
}
.topbar-box ul > li > a,
.topbar-contact,
.topbar-contact > a {
    color: #fff;
    font-family: var(--jost);
}
.dropdown-menu1 ul,
.topbar-box ul {
    margin: 0;
    padding: 0;
}
.topbar-box ul > li {
    list-style: none;
    float: left;
    margin: 0 12px;
}
.topbar-contact,
.topbar-contact > a {
    font-size: 17px;
}
.navbar {
    padding: 0;
}
.navbar-brand {
    color: var(--text-white);
    font-size: 26px;
    font-weight: 800;
    font-family: var(--ef);
}
.header-logo {
    width: 80px;
}
header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 9999;
    border-bottom: 0px solid hsla(0, 0%, 100%, 0.14);
    background: #fff;
    transition: 0.5s;
}
header.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    z-index: 9999;
}
.menu-area {
    margin: 0 auto;
}
.menu-area > ul {
    margin: 0px 0;
    padding: 0;
}
.menu-area > ul > li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
    margin: 0 2px;
}
.dropdown-menu1 ul li a .fa {
    margin-right: 10px;
}
.menu-area > ul > li > a {
    color: var(--text-black);
    padding: 0 7px;
    display: block;
    transition: 0.5s;
    font-family: var(--jost);
    font-size: 17px;
    font-weight: 500;
}
.menu-area > ul > li > a:hover {
    color: #ff5d00;
}
.menu-active {
    color: brown !important;
}
.dropdown-menu1 {
    position: absolute;
    background: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
    box-shadow: var(--shadow);
    border-top: var(--border);
    top: 68px;
    padding: 13px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.offer-dropdown {
    width: 250px;
}
.m-category-box > a {
    color: var(--primary-color) !important;
    font-weight: 700;
    font-size: 17px;
}
.s-category > a {
    color: #000;
    font-weight: 700;
    font-size: 14px;
}
.m-category-box > a > img {
    width: 50px;
    height: 80px;
    border-radius: 12px;
}
.m-category-box > a > .fa {
    margin-top: 28px !important;
}
.dropdown-menu1 ul li {
    list-style: revert;
}
.menu-body ul,
.offer-dropdown ul li {
    list-style: none;
}
.dropdown-menu1 ul li a {
    text-decoration: none;
    color: #817e7b !important;
    display: block;
    padding: 3px 10px;
    transition: 0.4s;
    font-family: var(--bf);
    text-transform: capitalize;
    font-size: 16px;
}
.menu-body ul li a,
.menu-link a {
    display: block;
    color: var(--tm);
    text-decoration: none;
}
.dropdown-menu1 ul li a:hover,
.footer-social-icon > a:hover {
    background: #fff;
    color: var(--primary-color);
}
.dd-btn1:hover .dropdown-menu1 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.menu-icon {
    display: none;
    float: left !important;
    color: var(--text-black);
    font-size: 30px;
    cursor: pointer;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    background: #fdfdfd;
    transition: 0.3s;
    z-index: 9999999;
    border-right: 1px solid #ddd;
    overflow: scroll;
}
.mobile-menu-active {
    left: 0;
}
.mm-logo {
    position: relative;
}
.mm-logo .logo {
    width: 130px;
    padding: 10px 15px;
}
.menu-link a {
    padding: 10px 15px;
    transition: 0.3s;
    font-family: var(--bf);
}
.header-icon,
.header-icon > a {
    display: inline-block;
    position: relative;
}
.mobile-menu a .fa {
    color: var(--tn);
}
.header-icon > a > .fa,
.slider-content-box > h3,
.slider-content-box > h5,
.slider-inner-btn > a {
    color: var(--text-black);
}
.menu-link a .fa-minus,
.menu-link a .fa-plus {
    float: right;
    margin-top: 5px;
}
.menu-body ul {
    margin: 0;
    padding: 0;
}
.menu-body .card-body {
    padding: 0;
    background: #fafafa;
}
.menu-body ul li a {
    padding: 10px;
    font-family: var(--fl);
}
.mm-cross-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}
.mm-cross-icon .fa {
    font-size: 20px;
    color: var(--ttm);
}
.mm-ci {
    cursor: pointer;
}
.header-icon {
    margin-top: 20px;
}
.header-icon > a {
    font-size: 22px;
    font-weight: 400;
    margin-right: 31px;
}
.badge {
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -20px;
}
.offcanvas-title {
    font-size: 17px;
}
.offcanvasClose {
    cursor: pointer;
    font-size: 20px;
    color: var(--primary-color);
    transition: 0.3s;
}
.offcanvasClose:hover {
    rotate: 180deg;
}
.offcanva-search-title > h4 {
    font-size: 15px;
}
.empty-cart-box > h4,
.grid-btn {
    font-size: 16px;
}
.empty-cart-box > .fa {
    font-size: 50px;
    margin-bottom: 12px;
}
/* header slider section start */
.header-slider-section {
    margin-top: 0px;
}
.carousel-indicators,
.product-box:hover .buy-now {
    bottom: 0;
}
.main-slider {
    height: 350px;
}
.carousel-item {
    /* max-height: 350px; */
    margin: 0 auto;
    width: 100%;
}
.main-slider > a > img {
    height: 100%;
    width: 100%;
    position: relative;
}
.slider-content-box {
    top: 38%;
    left: 10%;
    position: absolute;
    width: 30%;
}
.slider-content-box > h5 {
    font-size: 25px;
    font-family: var(--Charm);
    margin-bottom: 0;
}
.slider-content-box > h3 {
    font-size: 77px;
    font-family: var(--jost);
}
.slider-inner-btn > a {
    background-color: transparent;
    border: 1.5px solid #f0f0f0;
    padding: 8px 29px;
    border-radius: 3px;
    font-family: var(--jost);
}

/* Slider next and prev button style Start */
.header-slider-section .carousel-control-prev,
.header-slider-section .carousel-control-next {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.header-slider-section:hover .carousel-control-prev,
.header-slider-section:hover .carousel-control-next {
    opacity: 1;
    visibility: visible;
}

.header-slider-section .carousel-control-prev,
.header-slider-section .carousel-control-next {
    background-color: rgba(242, 242, 242, 0.5);
    width: 40px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    color: #000 !important;
    position: absolute;
    top: 50%;
    font-size: 14px;
    transform: translateY(-50%);
    z-index: 5;
}

.header-slider-section .carousel-control-prev {
    left: 3%;
}
.header-slider-section .carousel-control-next {
    right: 3%;
}
.header-slider-section .carousel-control-prev:hover,
.header-slider-section .carousel-control-next:hover {
    background-color: #ff5d00;
    color: #fff !important;
}
.header-slider-section .carousel-control-prev-icon,
.header-slider-section .carousel-control-next-icon {
    filter: invert(0);
    transition: filter 0.3s ease;
}
/* hero slide style end */
/* Slider next and prev button style end */
.swiper-button-next,
.swiper-button-prev {
    color: #e4e4e4;
}
.category-title-box {
    display: flex;
    justify-content: space-between;
}
.category-title-box > .category-title > h5 {
    color: #ff9100;
    font-family: var(--jost);
}
.category-title-box > .category-title > h1 {
    font-size: 44px;
    font-weight: 500;
    font-family: var(--jost);
}
.category-title-box > .tp-right-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-title-box > .tp-right-btn > a {
    border: 2px solid #ff9100;
    padding: 10px 20px;
    border-radius: 4px;
    color: #000;
    font-family: var(--jost);
    transition: 0.3s;
}
.category-title-box > .tp-right-btn > a:hover {
    background-color: #ff9100;
    color: #fff;
}
.category-title-box > .tp-right-btn > a > .fa {
    font-size: 12px;
    margin-left: 10px;
}
.tp-category-item-3 {
    min-height: 350px;
    overflow: hidden;
    border-radius: 10px;
    /* transform: scale(0.95); */
}
.tp-category-thumb-3 {
    height: 350px;
    position: relative;
    background-size: cover;
    background-position: bottom center;
    transition: 0.3s ease-out;
}
.tp-category-content-3,
.tp-category-thumb-3::before {
    position: absolute;
    z-index: 1;
    transition: 0.3s ease-out;
    right: 0;
    left: 0;
}
.tp-category-thumb-3 > img {
    height: 100%;
}
.tp-category-thumb-3::before {
    content: "";
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.341);
}
.tp-category-content-3 {
    bottom: -15px;
    width: 100%;
}
.col-sm-6,
.product-box,
.product-image2 > a > img,
.range-input {
    position: relative;
}
.tp-category-title-3 > a {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
    transition: 0.3s ease-out;
}
.product-box {
    background-color: #fff;
}
.tp-category-content-3 span {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 22px;
    transition: 0.3s ease-out;
}
.tp-category-item-3:hover .tp-category-thumb-3 {
    transform: scale(1.1);
}
.tp-category-item-3:hover .tp-category-content-3 {
    bottom: 35px;
}
.product-search-section {
    background-color: #f0f0f0;
}
.product-search-area > h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
}
.product-search-section > .input-group {
    height: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}
.product-search-section > .form-control {
    border: 1px solid #fff;
    border-radius: 0.25rem;
}
.product-search-section > .btn:focus,
.product-search-section > .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff !important;
    outline: 0;
    box-shadow: none;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da !important;
    outline: 0;
    box-shadow: none;
}
.customer-review-box > img,
.product-box:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.col-sm-6 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50% !important;
}
.col-sm-12 {
    width: 100% !important;
}
.grid-controls {
    display: flex;
    width: 20%;
    margin: 0 auto;
}
.grid-btn {
    padding: 6px;
    background-color: #fff;
    color: #9a9595;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #ddd;
    display: flex;
    margin: 0 3px;
}
.grid-btn:focus {
    outline: 0;
}
.grid-btn.active {
    background-color: #fafcff;
    border: 2px solid #dc0202 !important;
}
.grid-controls > .grid-btn > .grid-icon {
    background-color: #7e7e7e;
    width: 5px;
    height: 24px;
    padding: 1px 6px;
    margin: 0 2px;
    border-radius: 2px;
}
.grid-btn.grid-icon.active {
    background-color: #0d0d0d;
}
.brand-filter .form-check-input,
.color-filter .form-check-input,
.mobile-grid-controls {
    display: none;
}
.big-banner > a > img,
.footer-pay-logo > img {
    width: 100%;
}
.heading-title > h3 {
    font-size: 18px;
    margin: 0;
    border-top: 1px solid #2d2d2d2d;
    border-bottom: 1px solid #2d2d2d2d;
}
.heading-title > h3 > span {
    background: #fff;
    padding: 0 15px;
}
.section-heading-title > h5 {
    font-size: 16px;
    font-family: var(--jost);
    color: #ff9100;
}
.section-heading-title > h3 {
    font-size: 25px;
    font-family: var(--jost);
    color: var(--text-black);
    margin: 0 0 6px;
    text-transform: uppercase;
    color: #ff9100;
}
.heading-border {
    width: 70px;
    height: 3px;
    margin: 0 auto 10px;
    background-color: #ff9100;
}
.filter-box > a {
    color: #fefefe;
    background: #f26d21;
    padding: 8px 20px;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
    border: 2px solid #fff;
}
.filter-box > a:hover {
    background-color: #fff;
    border: 2px solid #f26d21;
    text-decoration: none;
    color: var(--text-black);
}
.product-box .social li a,
.product-box .social li button {
    color: #505050;
    background-color: #fff;
    font-size: 24px;
    width: 45px;
    border-radius: 50%;
    padding-top: 10px;
    display: block;
    text-align: center;
}
.product-box {
    font-family: var(--jost);
    transition: 0.3s;
    margin-bottom: 10px;
}
.product-box .product-image2 {
    overflow: hidden;
    position: relative;
}
.product-box .product-image2 a,
.thumbnail-images {
    display: block;
}
.product-box .product-image2 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.product-image2 > .discount-box {
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 999;
}
.product-image2 > .discount-box > span {
    background: #f26d21;
    padding: 3px 20px;
    font-size: 16px;
    color: #fff;
    font-family: var(--jost);
    border-bottom-left-radius: 9px;
    border-top-right-radius: 9px;
}
.product-image2 .pic-1 {
    opacity: 1;
    transition: 0.5s;
}
.product-box:hover .product-image2 .pic-1,
.product-box:hover .product-new-label {
    opacity: 0;
}
.product-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.product-box .social li a:hover:after,
.product-box .social li a:hover:before,
.product-box .social li button:hover:after,
.product-box .social li button:hover:before,
.product-box:hover .product-image2 .pic-2 {
    opacity: 1;
}
.product-box .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1;
}
.product-box .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: 0.5s;
}
.product-box:hover .social li {
    transform: translateX(0);
}
.product-box:hover .social li:nth-child(2) {
    transition-delay: 0.15s;
}
.product-box:hover .social li:nth-child(3) {
    transition-delay: 0.25s;
}
.product-box .social li a {
    line-height: 0;
    height: 45px;
    transition: 0.3s;
}
.product-box .social li a:hover {
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product-box .social li a:after,
.product-box .social li a:before,
.product-box .social li button:after,
.product-box .social li button:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
}
.product-box .social li a:after,
.product-box .social li button:after {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1;
}
.product-box .buy-now {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    cursor: pointer;
    transition: 0.3s;
    border: 0;
}
.product-box .buy-now:hover {
    background-color: var(--primary-color);
    text-decoration: none;
}
.product-box .product-new-label {
    background-color: var(--bg-color);
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s;
}
.product-box .product-content {
    padding: 10px;
    text-align: center;
}
.product-box .title {
    font-size: 17px;
    margin: 0 0 7px;
}
.product-box .title a {
    color: #303030;
    font-family: var(--jost);
}
.product-box .title a:hover {
    color: var(--text-danger);
    text-decoration: none;
}
.product-box .social li button {
    line-height: 45px;
    height: 45px;
    transition: 0.3s;
}
.product-box .social li button:hover {
    color: #fff;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product-box-col-3 {
    height: 640px;
}
.product-image2-col-3 {
    height: 526px;
}
.product-box-col-2 {
    height: 450px;
}
.product-image2-col-2 {
    height: 270px;
}
.product-box-col-4 {
    height: 817px;
}
.product-image2-col-4 {
    height: 715px;
}
.product-box-col-6 {
    height: 1190px;
}
.product-image2-col-6 {
    height: 1095px;
}
.product-box-col-sm-6 {
    height: 417px;
}
.product-image2-col-sm-6 {
    height: 317px;
}
.product-box-col-sm-12 {
    height: 710px;
}
.product-image2-col-sm-12 {
    height: 610px;
}
.product-column {
    padding-right: 6px !important;
    padding-left: 6px !important;
}
.product-box > .product-image2 > a > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.product-image2 > .v-play-box {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    z-index: 999;
}
.product-image2 > .v-play-box > a > svg {
    color: #f26d21;
    font-size: 17px;
}
.p-details .product-price,
.product-box .price > span {
    color: #f26d21;
    font-size: 17px;
    font-family: var(--jost);
    font-weight: 600;
}
.p-details .discount-price > del,
.product-box .price > del {
    color: #a3a3a3;
    font-size: 17px;
    font-family: var(--jost);
    font-weight: 600;
}
.category-filter-box {
    display: block;
    position: fixed;
    left: 0;
    top: 22%;
    z-index: 999999;
    transition: 0.3s;
}
.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}
.price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}
.field input {
    width: 100%;
    height: 100%;
    outline: 0;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}
.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--primary-color);
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: 0 0;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--primary-color);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.support-box {
    top: 2rem;
    position: relative;
    bottom: 0;
    text-align: center;
    display: block;
}
.b-btn {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.b-btn.paypal i {
    color: #00f;
}
.b-btn:hover {
    text-decoration: none;
    font-weight: 700;
}
.b-btn i {
    font-size: 20px;
    color: #ff0;
    margin-top: 2rem;
}
.color-heading,
.common-btn {
    font-family: var(--jost);
    font-size: 17px;
}
.brand-filter,
.category-filter,
.color-filter {
    display: flex;
    flex-direction: column;
}
.category-filter .category > .category-header,
.category-filter .category > .category-header > a,
.child-categories > a,
.sub-category-header,
.sub-category-header > a {
    color: #000;
    font-family: var(--jost);
    font-size: 17px;
    transition: 0.3s;
}
.category-filter .category > .category-header,
.category-filter .category > .category-header > a:hover,
.child-categories > a:hover,
.copyright-text > p > a,
.footer-title > ul > li > .fa,
.sub-category-header,
.sub-category-header > a:hover {
    color: var(--primary-color);
}
.category,
.sub-category {
    margin-bottom: 10px;
    padding: 5px 20px;
}
.category-header,
.sub-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.toggle-icon {
    font-weight: 700;
    cursor: pointer;
}
.child-categories,
.sub-categories {
    display: none;
    margin-top: 10px;
    margin-left: 20px;
}
.child-categories span {
    display: block;
    margin-top: 5px;
}
.color-heading {
    color: var(--text-black);
    border-bottom: 2px solid #ddd;
}
.brand-filter .form-check,
.color-filter .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.brand-filter .form-check-label,
.color-filter .form-check-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.brand-filter .form-check-label .brand-logo,
.color-filter .form-check-label .color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-size: cover;
}
.brand-filter .form-check-input:checked + .form-check-label .brand-logo,
.color-filter .form-check-input:checked + .form-check-label .color-box {
    border: 2px solid #f26d21;
}
.customer-review-box {
    background-color: #eee;
    padding: 25px 50px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 3px solid #f26d21;
    height: 267px;
}
.customer-review-box > img {
    width: 50px !important;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #fff;
}
.customer-review-box > .customer-name > h3 {
    font-size: 18px;
    font-family: var(--jost);
    margin: 0;
}
.customer-review-box > .customer-name > span {
    font-size: 15px;
    font-family: var(--jost);
    text-transform: uppercase;
}
.customer-review-box > .customer-sms > p {
    color: var(--text-black);
    font-size: 16px;
    font-family: var(--jost);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}
.customer-review-box > .customer-review > i {
    color: #f26d21;
    font-size: 18px;
}
.newslater-section {
    background-image: url("../images/bg-img/newslater-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 0;
    height: 245px;
    margin: 0;
}
.newslater-text h4 {
    color: var(--text-white);
    font-family: var(--jost);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.newslater-text h2 {
    color: var(--text-white);
    font-family: var(--jost);
    font-size: 28px;
    font-weight: 600;
}
.newslater-input > .input-group > .form-control {
    padding: 13px 15px;
}
footer {
    background-color: #535369;
}
.footer-logo {
    width: 230px;
    border-radius: 27px;
    margin-bottom: 10px;
}
.footer-title > h3 {
    font-size: 20px;
    margin-bottom: 23px;
    color: var(--text-white);
}
.footer-title > ul > li {
    list-style: none;
    margin: 0;
    line-height: 33px;
}
.footer-title > ul > li > a {
    color: var(--text-white);
    font-size: 16px;
}
.footer-title > ul > li > .fa {
    font-size: 20px;
    margin-right: 10px;
    width: 20px;
    text-align: center;
}
.footer-title > ul > li > a:hover {
    color: var(--primary-color);
    text-decoration: none;
}
.copyright-section {
    background-color: #414141;
}
.copyright-text > p {
    color: #fff;
}
.download-icon > a > img {
    width: 200px;
}
.footer-social-icon > a {
    color: var(--text-white);
    background: var(--primary-color);
    padding: 5px 0;
    display: inline-block;
    width: 35px;
    text-align: center;
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s;
}
.common-btn,
.product-banner-box > img {
    border-radius: 5px;
    width: 100%;
}
.product-banner-section {
    background: #f0f0f0;
    padding: 20px 0;
}
.p-banner-content > p {
    text-align: justify;
    padding: 10px 40px;
    font-size: 16px;
    font-style: italic;
}
.p-banner-content > .p-banner-btn > a {
    background: #000;
    padding: 10px 64px;
    border-radius: 4px;
    color: #fff;
}
.contact-box > .box1 > p,
.pay-method > span {
    color: #7d7b7b;
    font-size: 14px;
}
.common-btn {
    background-color: var(--primary-color);
    padding: 8px 17px;
    color: var(--text-white) !important;
    display: block;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
.thumbnail-images img {
    width: 70px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 8px;
}
.instock {
    background-color: #04cb18;
    padding: 1px 14px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: var(--Charm);
}
.thumbnail-images img:hover {
    border: 2px solid var(--primary-color);
}
.product-name {
    font-size: 22px;
    font-family: var(--jost);
    margin-bottom: 0;
}
.product-description {
    margin-bottom: 5px;
    font-family: var(--jost);
}
.quantity-selection,
.size-selection {
    margin-bottom: 1.5rem;
}
.quantity-selection .input-group {
    width: 150px;
}
.action-buttons .btn {
    font-size: 1.2rem;
}
.p-details,
.p-details-contact-section,
.p-image {
    padding: 12px 13px;
    border-radius: 5px;
}
.contact-box > .box1 > p {
    font-family: var(--jost);
}
.contact-box > .box1 > a,
.contact-box > .box1 > p > a {
    color: var(--primary-color);
    font-size: 14px;
}
.pay-method > img {
    width: 260px;
}
.shop-filter-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    padding: 10px 20px;
}
.shop-filter-title {
    font-size: 18px;
    font-family: var(--jost);
    color: var(--text-black);
    text-align: center;
    text-transform: uppercase;
}
.outlets-heading {
    text-align: center;
    border-bottom: 2px solid #ddd;
}
.outlets-heading > h2 {
    font-size: 30px;
    font-family: var(--Charm);
}
.outlets-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    padding: 14px 20px;
}
.outlets-box > .sup-icon {
    color: var(--primary-color);
    font-size: 30px;
}
.outlets-text > h2 {
    font-size: 22px;
    font-family: var(--jost);
    margin: 0;
}
.header-cart-product {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}
.header-cart-product > .img > img {
    width: 90px;
    margin-right: 14px;
    border-radius: 4px;
}
.header-cart-product > .header-cart-p-details > h5 {
    font-size: 16px;
    margin: 5px 0 0;
    font-family: var(--jost);
}
.header-cart-product > .header-cart-p-details > span {
    color: #b2b0b0;
    font-size: 15px;
}
.header-cart-product > .header-cart-p-details > p {
    color: #777676;
    font-size: 17px;
    margin: 0;
}
.header-cart-product > .header-cart-p-details > a {
    color: var(--primary-color);
    font-size: 17px;
}
.cart-header-subtotal > h4 {
    color: var(--text-black);
    font-size: 19px;
    font-family: var(--jost);
}
.button-section > a {
    padding: 10px 15px;
    background-color: #0d0d0d;
    width: 50%;
    color: #fff;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
.product-col .product-title a:focus,
.product-col .product-title a:hover {
    color: #c96;
}
.table-cart th {
    background-color: #424242;
    color: #fff;
    text-align: center;
}
.table-cart td {
    text-align: center;
    vertical-align: middle;
}
.checkout-product a img {
    max-width: 50px;
    border-radius: 5px;
}
.checkout-product .product-title a {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
}
.product-title a:hover {
    text-decoration: underline;
}
.price-col,
.quantity-col,
.total-col {
    font-size: 16px;
    font-weight: 500;
}
.cart-product-quantity input {
    width: 80px;
    text-align: center;
}
.btn-remove {
    background: 0 0;
    border: none;
    color: #dc3545;
    font-size: 18px;
    cursor: pointer;
}
.btn-remove:hover {
    color: #c82333;
}
.cart-bottom .cart-discount .input-group {
    max-width: 300px;
    margin: 0 auto;
}
.cart-bottom .btn-outline-dark-2 {
    margin-top: 20px;
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.summary-cart {
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 5px;
}
.summary-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.table-summary td {
    font-size: 16px;
    padding: 10px 0;
}
.custom-control-label {
    font-size: 14px;
}
.btn-order {
    margin-top: 20px;
    font-size: 16px;
}
.btn-outline-dark-2 {
    font-size: 14px;
    text-align: center;
}


.chat-wrapper {
    position: fixed;
    right: 0;
    bottom: 9%;
    z-index: 9999;
    text-align: center;
    border-radius: 40px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}

.chat-wrapper.active {
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.chat-toggle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: #ff5d00;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 10000;
    position: relative;
}

.chat-toggle:focus {
    outline: none;
    border: none;
}

.chat-box {
    background: #fff;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    gap: 14px;

    opacity: 0;
    transform: translateY(10px) scale(0.95);
    pointer-events: none;
    transition: all 0.3s ease;
}

.chat-wrapper.active .chat-box {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
}

.chat-item {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    transition: transform 0.2s;
}

.chat-item:hover {
    transform: scale(1.1);
    color: #fff;
}

.messenger {
    background: #0084ff;
}

.whatsapp {
    background: #25d366;
}
@media (max-width: 768px) {
    .chat-wrapper {
        left: auto !important; /* ignore saved left */
        right: 10px !important; /* always right */
        bottom: 80px; /* adjust for toggle button */
    }
}

